nav{
    background-color: white;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 50px;
    border-bottom: 2px solid lightgray;
    
}

nav ul li{
    display: inline-block;
    font-weight: bold;
    color: blue;
    margin-right: 20px;
}

nav ul{
    text-align: right;
}

body{
    background-color: lightskyblue;
}

input[type=text], select{
    width:100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password], select{
    width:100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.button1{
    width:100%;
    background-color: blue;
    color: white;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

.button2{
    background-color: blue;
    padding: 5px;
    color: white;
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #ccc;

}

#formContainer{
    width:40%;
    left: 50%;
    /* top: 50%; */
    margin-left: -25%;
    margin-top: 15%;
    position: absolute;
    border: 3px black;
}

.form{
  background-color: white;
  /* text-align: left; */
  margin: 20 auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  border-radius: 20px;
  border-style: outset;

}

h1{
    font-family: "Goudy Bookletter 1911",  sans-serif;
}

.images{
    border-radius: 100%;
    border-color: lightgray;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
    border: 1px solid lightgray;
    size: 20px 20px;
    /* text-align: center; */
    /* align-items: center; */
}

.bottom{
    display: flex;
    justify-content: center;
    /* border: 3px solid red; */
    /* text-align: center; */
}
